node_modules

# IDEs and editors
/.idea
.project
.classpath
/.vscode

# compiled output
/dist
/build
/tmp
**/tmp
/.next

# temp file
package-lock.json

# log
start.sh
tsconfig.tsbuildinfo
npm-debug.log
yarn-error.log
/.sass-cache

career-mentors.iml

# Playwright 테스트 임시 파일
tests/aitc/.club-id-temp.txt
