@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

.main-container {
  @include mixin.initMyPageFotterButton;

  .category-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 40px;

    &__item {
      padding: 20px;

      &:not(&--active) {
        background: palette.$Primary-Gray500 !important;
      }

      span {
        font-weight: bold !important;
        font-size: font.$font-size-14 !important;
      }
    }
  }

  .learning-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
  }
}
