@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

.register-seminar-container {
  @include mixin.initMyPageFotterButton;
  text-align: left;

  .content {

    @media (min-width: 320px) and (max-width: 992px) {
      margin-top: 50px;
      padding: 0px
    }
    margin-top: 92px;
    padding: 0 32px;
    > div {
      position: relative;
      padding: 60px 0;
    }
    .not-pt {
      padding-top: 0;
    }
    &__title {
      color: black;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 32px;
      display: inline-block;
    }

    .area-title {
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: palette.$Primary-Gray800;
    }

    .area-desc {
      font-weight: 700;
      font-size: 10px;
      line-height: 15px;
      color: palette.$Primary-Blue900;
      margin-left: 8px;
    }

    p {
      margin-bottom: 0;
    }

    hr {
      border: 0.5px solid palette.$Primary-Gray500;
      padding: 0 60px;
    }

    &__footer {
      //margin-top: 44px;
      margin-bottom: 16px;
      padding: 0;
      text-align: center;

      button {
        width: 149px;
        height: 56px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .detail-info-page {
    > div {
      padding: 60px 0;
    }
  }

  .basic-info-page {
    display: inline;

    .content__footer {
      margin-top: 44px;
    }

    > div {
      padding: 16px 0;
    }

    &--hidden {
      display: none;
    }

    &__text-field {
      @media (min-width: 320px) and (max-width: 992px) {
        width: 100%;
      }

      width: 380px;
      position: relative;

      label > span {
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: palette.$Primary-Gray800;
      }

      > div {
        line-height: 40px;
      }
    }

    &__picker {
      margin-right: 44px;
      //border-bottom: 1px solid #d2d8dd;
      input {
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #b0b7c1;
        }
      }
      > div {
        line-height: 40px;
        height: 40px;
      }
    }
  }

  .mentor-introduce-area {
    &__text-field {
      display: inline-block;
    }

    &__search-area {
      margin-bottom: 16px;
      position: relative;

      button {
        display: inline-block;
      }
    }

    &__desc-text-field {
      height: 200px;
      border: 1px solid palette.$Primary-Gray500;
      color: palette.$Primary-Gray600;
      border-radius: 5px;
      font-weight: 700;
      font-size: 14px;
      position: relative;

      span {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    button.mentor-button {
      width: 256px;
      height: 56px;
      margin-top: 8px;
    }
  }

  .seminar-image-area {
    &__desc {
      margin-top: 12px;
    }

    &__upload {
      @include mixin.initFlexWrap();
      justify-content: space-between;

      .seminar-image-item {
        position: relative;
        &__file-size {
          position: absolute;
          right: 0;
          line-height: 30px;
        }
        &__upload-wrap {
          width: 192px;
          height: 136px;
          border: 1px solid palette.$Primary-Gray500;
          position: relative;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
          }

          button {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            width: 136px;
            height: 36px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            label {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .detail-info-page {
    display: inline;
    &--hidden {
      display: none;
    }
  }

  .check-area {
    &__item {
      margin-right: 24px;

      span {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: black;
      }
    }
  }

  .seminar-jobgroup-area {
    .area-title {
      padding-bottom: 16px;
      display: inline-block;
    }
  }

  .seminar-level-area {
    .area-title {
      margin-bottom: 16px;
      display: inline-block;
    }
    &__check-area {
      @include mixin.initFlexWrap;
      justify-content: space-between;
      .seminar-level-area__item {
        min-width: 92px;
        display: inline-block;
        margin-right: 0;

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 8px;
          line-height: 12px;
          color: palette.$Primary-Gray700;
          text-align: left;
          margin-top: 8px;
        }
      }
    }
  }

  .seminar-location-area {
    &__toggle {
      width: 172px;
      height: 40px;
      margin-right: 24px;
    }
    &__detail-address {
      margin-top: 12px;
    }
  }

  .seminar-participant-area {
    &__text-field {
      width: 200px;
    }
  }

  .mentor-info {
    margin-top: 60px;

    &__profile {
      width: 160px;
      display: inline-block;
      margin-right: 32px;
    }
    &__desc {
      display: inline-block;
      width: 480px;
      height: 177px;

      button {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        width: 256px;
        height: 56px;
      }
    }
  }
}
