@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

$size: 36px;

.pagination-container {
  .pagination {
    @include mixin.initFlexWrap(10px);

    &__item {
      width: $size;
      height: $size;
      text-align: center;
      border: 1px solid #e0e4eb;
      border-radius: 5px;
      color: #9ca5b2;
      cursor: pointer;

      a {
        line-height: $size;
        font-size: font.$font-size-16;
      }

      &--active {
        border: none;
        font-weight: bold;
        background: #9ca5b2;
        color: white;
      }

      &--next {
        font-weight: bold;
      }

      &--dots {
        cursor: none;
        font-weight: bold;
      }

      &--more {
        border: none;
        cursor: none;
      }
    }
  }
}
