
.business-container {
  $self: #{&};

  .mt-92 {
    margin-top: 92px;
  }

  section {
    .business-card {
      width: 1120px;
      height: 600px;
      position: relative;

      .business-text {
        position: absolute;
        width: 532px;
        height: 218px;
        left: 64px;
        top: 54px;
      }
    }

    .business-cm3 {
      width: 1120px;
      height: 600px;
      position: relative;

      .business-text-cm3 {
        position: absolute;
        width: 439px;
        height: 218px;
        left: 640px;
        top: 59px;
      }
    }

    .business-cm2 {
      width: 1120px;
      height: 600px;
      position: relative;

      .business-text-cm2 {
        position: absolute;
        width: 565px;
        height: 218px;
        left: 64px;
        top: 343px;
      }
    }
  }

  :global {
    #{$self}__override {
      color: #000000;
      margin-bottom: 28px;
    }
  }
}
