@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

$toggle-height: 30px;

.content-container {
  @include mixin.initflexWrapContainer;

  article {
    .filter-area::-webkit-scrollbar {
      display: none;
    }
    .filter-area {
      //padding-top: 60px;
      //padding-bottom: 16px;
      position: relative;
      overflow-x: auto;
      &.top-filter {
        padding: 20px 0 12px 0;
        border-bottom: 1px solid palette.$Primary-Gray500;
      }

      &:not(.top-filter) {
        padding-top: 60px;
      }

      .mentoring-button__group {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0;

        &.gap-12 {
          gap: 12px;
        }

        @media (min-width: 320px) and (max-width: 992px) {
          gap: 24px;
          align-items: center;
          display: flex;
        }

        > * {
          //line-height: $toggle-height;
          //font-size: font.$font-size-14 !important;
        }
      }
    }

    .content-area {
      .content {
        padding: 60px 0;
        //@include mixin.initFlexWrap(32px);
        row-gap: 15px;
        //justify-content: flex-start;
        min-height: 300px;

        &__item {
          width: 10% !important;
        }

        &--empty {
          text-align: center;
          width: 100%;
          padding: 80px 0;
        }
      }
    }
  }
  .fixed-width {
    width: 120px;
    font-size: font.$font-size-14;
  }
}
