@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

.article-card {
  font-family: Noto Sans CJK KR;
  position: relative;
  color: palette.$Primary-Gray900;
  width: 100%;

  &[data-article='true'] {
    .img-area {
      height: 158px;
      @media (min-width: 320px) and (max-width: 992px) {
        height: 120px;
      }
    }
    .card-body {
      height: 220px;
      @media (min-width: 320px) and (max-width: 992px) {
        height: 130px;
      }
    }
  }
  &[data-vod='true'] {
    .img-area {
      height: 158px;
      @media (min-width: 320px) and (max-width: 992px) {
        height: 120px;
      }
    }
    .card-body {
      height: 220px;
      @media (min-width: 320px) and (max-width: 992px) {
        height: 130px;
      }
    }
  }
  &[data-topic='true'] {
    .img-area {
      height: 158px;
      @media (min-width: 320px) and (max-width: 992px) {
        height: 120px;
      }
    }
    .card-body {
      height: 220px;
      @media (min-width: 320px) and (max-width: 992px) {
        height: 130px;
      }
    }

    .article-card-content__title {
      max-height: 48px;
      min-height: 27px;
      height: auto;
      font-size: 10px;
      line-height: 27px;
      margin-bottom: 8px;
      max-height: 4.8rem;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 150%;
      @include mixin.setMaxTextLine(2);
    }
  }
  &[data-seminar='true'] {
    .img-area {
      height: 158px;
      @media (min-width: 320px) and (max-width: 992px) {
        height: 120px;
      }
    }
    .card-body {
      height: 220px;
      @media (min-width: 320px) and (max-width: 992px) {
        height: 130px;
      }
    }
  }
  &[data-mentor-seminar='true'] {
    .img-area {
      height: 158px;
      @media (min-width: 320px) and (max-width: 992px) {
        height: 120px;
      }
    }
    .card-body {
      height: 204px;
      @media (min-width: 320px) and (max-width: 992px) {
        height: 130px;
      }
    }
  }

  .img-area {
    position: relative;
    &__chip {
      position: absolute;
      padding: 16px 20px;
    }

    &__image {
      width: 100%;
      height: 90%;
    }
    &--gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.15) 30%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    img {
      border-radius: 3px 3px 0 0;
    }

    .seminar-header {
      color: white;
      font-weight: bold;

      &__status {
        right: 0;
      }

      span {
        position: absolute;
        bottom: 0;
        padding: 12px 20px;
        //padding: 1.25rem;
        font-size: font.$font-size-18 !important;
      }
    }
  }

  .category {
    @include mixin.initFlexWrap;
    justify-content: flex-start;
    gap: 7px;
    font-weight: bold;
    margin-bottom: 7px;
    color: palette.$Primary-Gray900;
  }

  &-content {
    align-items: flex-start;
    align-self: center;
    display: flex;
    width: fit-content;
    flex-direction: column;

    &.has-content {
      height: 104px;
    }

    &__title {
      font-weight: bold;
      letter-spacing: -0.5%;
      height: 48px;
      font-size: font.$font-size-18 !important;
      line-height: 27px;
      margin-bottom: 10px;
      @include mixin.setMaxTextLine(2);
    }

    &__desc {
      font-weight: bold;
      color: palette.$Primary-Gray700;
      left: 0px;
      color: #9b9ba0;
      font-size: font.$font-size-14 !important;
      @include mixin.setMaxTextLine(2);

      @media (min-width: 320px) and (max-width: 992px) {
        @include mixin.setMaxTextLine(1);
      }
    }
  }

  &__tags {
    @media (min-width: 320px) and (max-width: 992px) {
      bottom: 10px;
    }
    position: absolute;
    bottom: 45px;
    align-items: flex-start;
    display: flex;
    gap: 8px;
    width: fit-content;
    color: palette.$Primary-Gray600;
    font-size: font.$font-size-14 !important;
    line-height: 21px;
    margin-bottom: 0 !important;

    ul {
      @include mixin.setMaxTextLine(1);
    }
    li {
      margin-bottom: 0 !important;
    }
  }

  .footer {
    position: absolute;
    font-weight: 400;
    font-size: font.$font-size-14 !important;
    line-height: 21px;
    bottom: 16px;
    width: calc(100% - 40px);
    @include mixin.setMaxTextLine(1);
    &__price {
      position: absolute;
      right: 0;
      font-weight: bold;
    }
  }

  &:hover {
    .article-card-desc {
      display: block;

      &__title {
        font-size: font.$font-size-18 !important;
      }
    }
  }

  .card-body {
    padding: 16px 20px;
    @media (min-width: 320px) and (max-width: 992px) {
      padding: 10px 10px;
    }
  }

  .article-card-desc {
    display: none;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: palette.$Primary-Blue900;
    opacity: 0.9;
    border-radius: 5px;

    * {
      color: palette.$Primary-Withe;
    }

    h3 {
      font-size: font.$font-size-18 !important;
      font-weight: Bold;
    }

    &__participant {
      font-size: font.$font-size-16 !important;
    }

    &__description {
      font-size: font.$font-size-14 !important;
    }
  }
}
