@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';

.banner-container {
  width: 100%;
  height: 216px;
  @media (min-width: 320px) and (max-width: 992px) {
    height: 130px;
    background-color: #eeeeee;
  }

  &__wrap {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-wrap {
    position: absolute;
    width: 100%;

    @media (min-width: 640px) and (max-width: 992px) {
      width: 85%;
    }

    padding: 0 15px;
    color: palette.$Primary-Gray800;

    @media screen and (min-width: 1200px) {
      max-width: 1140px;
    }

    .text-title {
      font-size: 40px;
      @media (min-width: 320px) and (max-width: 992px) {
        font-size: 20px;
      }
    }

    p {
      padding-top: 10px;
      font-size: 16px;
      margin: 0;
    }
  }

  img {
    position: absolute;
    width: 100%;
    right: 0;
    height: 100%;
    object-fit: cover;
  }
}
