.Center {
  width: 100%;
  text-align: center;
}

.box-width {
  @media (min-width: 320px) and (max-width: 992px) {
    width: 95px !important;
  }
}

.TabsSkill {
  justify-content: left !important;
  width: 1160px;
  height: auto;
  min-height: 400px;
  margin: 3.1rem auto 1.5rem;
  padding: 0rem 0.5rem;
  color: #000000;
  border-radius: 2rem;

  @media (min-width: 320px) and (max-width: 992px) {
    width: 100%;
  }
}
.TabsScroll {
  @media (min-width: 320px) and (max-width: 992px) {
    overflow-x: auto;
  }
}
.TabsNode {
  width: 1160px;
  height: auto;
  min-height: 400px;
  margin: 3.5rem auto 1.5rem;
  padding: 0rem 1rem;
  color: #000000;
  border-radius: 2rem;

  @media (min-width: 320px) and (max-width: 639px) {
    transform: scale(0.32);
    transform-origin: 2% 0%;
    height: 45vh;
  }

  @media (min-width: 640px) and (max-width: 992px) {
    transform: scale(0.56);
    transform-origin: 2% 0%;
    height: 75vh;
  }
}
ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39a2db;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

ul.nav li:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

ul.nav li:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.nav li.active {
  background: #39a2db;
}

.items {
  height: 30;
  border: 1px solid #39a2db;
  margin: 6;
  padding: 8;
}
