@use '../../../stories/assets/styles/abstracts/mixin';
@use '../../../stories/assets/styles/abstracts/font';
@use '../../../stories/assets/styles/abstracts/palette';

.date {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}
