@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';

.text-bold {
  font-weight: bold !important;
}

.member-edit-container {
  margin-top: 0px;
  .sub-content {
    padding: 0px 10px;

    @media (min-width: 320px) and (max-width: 992px) {
      padding: 0px 0px;
    }
    h4 {
      font-style: normal;
      font-weight: 400;
      font-size: font.$font-size-20 !important;
      line-height: 30px;
    }
  }

  .change-button {
    height: 40px;
    border-radius: 5px;
    padding: 8px 24px;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &[required] {
      color: white;
    }
  }

  .text-field {
    &--normal {
      width: 256px;
    }

    &--short {
      width: 122px;
    }

    &--long {
      width: 320px;
    }

    label > span:first-child {
      font-style: normal;
      font-weight: 700;
      font-size: 12px !important;
      line-height: 18px;
      color: palette.$Primary-Gray900;
    }

    div > input {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: black;
      height: 40px;
    }
  }

  .checkbox-title {
    font-weight: 400;
    font-size: font.$font-size-16 !important;
    line-height: 24px;
    color: black;
  }

  .image-info {
    margin-bottom: 24px;
    &__image {
      border: 0.5px solid palette.$Primary-Gray500 !important;
    }
  }

  .member-title {
    margin-bottom: 40px;
  }

  .member-info {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /*수평 정렬*/
    align-items: flex-end;
    gap: 12px;
    position: relative;

    .change-dot {
      position: absolute;
      top: -2px;
      left: 0px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: red;
    }
  }

  .member-info-mobile {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /*수평 정렬*/
    align-items: flex-end;
    position: relative;
    .change-dot {
      position: absolute;
      top: -2px;
      left: 0px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: red;
    }
  }

  .choice-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .choice-content {
    margin-top: 40px;
    .alarm {
      display: flex;
      gap: 30px;
      margin-top: 16px;
    }
    .alarm-group {
      display: flex;
      gap: 5px;
    }
  }

  .check-box {
    input[type='checkbox']:checked + span {
      background-image: url('../../../../../public/assets/images/icons/check_round_fill.svg') !important;
    }
    span {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
    }
  }

  .footer-button {
    width: 303px !important;
  }

  .area-title {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: palette.$Primary-Gray800;
  }

  .area-desc {
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
    color: palette.$Primary-Blue900;
  }
}
