@use '../../../../src/stories/assets/styles/abstracts/font';
@use '../../../../src/stories/assets/styles/abstracts/palette';

.header-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

//.herder-title {
//  cursor: pointer;
//  color: palette.$Primary-Blue900;
//  font-weight: 700 !important;
//}

.nav-custom {
  align-items: center;
}

.custom-item {
  padding-left: 15px !important;
}

.image-logo {
  z-index: 9;
  margin-right: 12px;
}

.first_title {
  font-weight: bold;
}

.menu-title {
  position: relative;
  display: block;
  padding: 15px 0;
  padding-left: 30px;
  font-size: 14px;
  color: #fff;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  text-decoration: none !important;
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  span {
    color: #fff;
  }
}
