@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../public/assets/scss/custom.scss';

// //Import Light mode
@import '../public/assets/scss/style.scss';

/* 구체적인 선택자를 사용 */
.markdown-container > h1 {
  font-size: 18px !important;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.markdown-container > h2 {
  font-size: 12px !important;
}

.markdown-container > h3 {
  font-size: 15px !important;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.markdown-container > h4 {
  font-size: 12px !important;
}

.markdown-container > h5 {
  font-size: 12px !important;
}

//Import Dark RTL mode
// @import './assets/scss/style-dark-rtl.scss';

//Import RTL mode
// @import './assets/scss/style-rtl.scss';

// Import Dark Mode
// @import './assets/scss/style-dark.scss';
