.player-youtube {
  $self: #{&};
  //height: 0;
  position: relative;
  height: 100vh;
  :global {
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 630px;
      padding-bottom: 0;
    }
  }
}

.player-advertise {
  $self: #{&};
  //height: 0;
  position: relative;
  height: 100vh;
  :global {
    iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 240px;
      padding-bottom: 0;
    }
  }
}

