@use '../../stories/assets/styles/abstracts/font';
@use '../../stories/assets/styles/abstracts/palette';
@use '../../stories/assets/styles/abstracts/mixin';

.custom-tags-input {
  height: 48px;
}

.seminar-container {
  @include mixin.initflexWrapContainer;
  height: 1930px;
  .slide__button {
    background: none !important;
    font-weight: 900;
    font-size: font.$font-size-28;
    color: white !important;
    border: none;
  }

  .carousel {
    margin: 0px 0px 40px;
    img {
      width: 100%;
    }
  }

  .banner {
    position: relative;
    height: 148px;

    img {
      height: 148px;
      width: 100%;
      object-position: center;
      object-fit: cover;
      border-radius: 5px;

      @media (min-width: 320px) and (max-width: 992px) {
        object-fit: fill;
      }
    }

    &-text {
      position: absolute;
      color: white;
      font-size: font.$font-size-20 !important;
      padding: 0 80px;
      top: 50%;
      transform: translateY(-50%);

      &__large {
        font-size: font.$font-size-24 !important;
      }

      .text-highlight {
        z-index: 1;
        position: relative;
        &::after {
          position: absolute;
          content: '';
          display: inline-block;
          width: 41px;
          height: 10px;
          bottom: 0;
          transform: translateX(-95%);
          background: #2797bb;
          z-index: -1;
        }
      }

      .clap-icon {
        width: 32px;
        height: 32px;
        transform: translateY(6px);
        margin-left: 6px;
      }
    }
  }

  article {
    .filter-area::-webkit-scrollbar {
      display: none;
    }
    .filter-area {
      //padding-top: 60px;
      //padding-bottom: 16px;
      position: relative;
      overflow-x: auto;

      &.top-filter {
        padding: 0px 0 25px 0;
        border-bottom: 1px solid palette.$Primary-Gray500;
      }

      &:not(.top-filter) {
        padding-top: 60px;
      }

      .seminar-button__group {
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 0;

        &.gap-12 {
          gap: 12px;
        }

        @media (min-width: 320px) and (max-width: 992px) {
          gap: 24px;
          align-items: center;
          display: flex;
        }

        > * {
          //line-height: $toggle-height;
          //font-size: font.$font-size-14 !important;
        }
      }
    }

    .box-width {
      @media (min-width: 320px) and (max-width: 992px) {
        width: 110px !important;
      }
    }
    .filter-area {
      padding: 20px 0;

      hr {
        border-bottom: 0.5px solid palette.$Primary-Gray500;
      }

      .mentoring-button__group {
        display: flex;
        gap: 10px;
      }
    }

    .content-area {
      .content {
        padding: 30px 0;
        //@include mixin.initFlexWrap(32px);
        row-gap: 15px;
        //justify-content: flex-start;

        &__item {
          width: 25%;
        }

        &--empty {
          text-align: center;
          width: 100%;
          padding: 60px 0;
        }
      }
    }
  }
}
