@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

$img-size: 448px;

.mentor-seminar-container {
  .content-container {
    margin-top: 104px;
    width: 100%;

    .info-container {
      min-height: $img-size;
      margin: 30px;

      img {
        width: $img-size;
        height: $img-size;
        object-fit: cover;
        -o-object-fit: cover;
        float: left;
      }

      .info-area {
        position: relative;
        width: calc(100% - #{$img-size} - 32px);
        float: right;
        margin-left: 32px;

        h1 {
          font-size: 32px !important;
        }

        &__mentor {
          size: font.$font-size-16 !important;
          font-weight: bold;
          color: black;
        }

        &__desc {
          size: font.$font-size-14 !important;
          color: palette.$Primary-Gray900;
          margin-bottom: 30px;

          p {
            margin: 0;
          }
        }

        &__tags {
          color: palette.$Primary-Gray600;
          font-size: font.$font-size-14 !important;
          margin-bottom: 30px;

          &-item:not(:first-child) {
            margin-left: 5px;
          }
        }

        &__status {
          position: absolute;
          right: 0;
          top: 0;
          font-size: font.$font-size-18 !important;
          font-weight: bold;
          color: palette.$Primary-Blue900;
        }

        button {
          font-size: font.$font-size-16 !important;
          font-weight: bold;
          padding: 20px 40px;
        }
      }
    }

    .content {
      text-align: center;
      padding: 0 48px;

      p {
        font-size: font.$font-size-14 !important;
        color: palette.$Primary-Gray800;
      }

      h3 {
        font-size: font.$font-size-24 !important;
        color: palette.$Primary-Blue900;
        padding: 28px 0;
      }

      &__item {
        padding: 40px 0;
      }

      &__intro {

        h2 {
          font-size: 32px !important;
          padding: 20px 0;
        }

        p {
          text-align: left;
        }
      }

      &__feature {
        p:not(:first-child) {
          margin-top: 28px;
        }

        .feature-item-container {
          padding: 30px 0;

          .feature-item {
            &:not(:first-child) {
              margin-top: 20px;
            }

            img {
              width: 48%;
              max-height: 280px;
              object-fit: cover;
              -o-object-fit: cover;
            }

            &__info {
              text-align: left;
              float: right;
              width: 48%;

              h4 {
                font-size: font.$font-size-24 !important;
                font-weight: normal;
              }
            }
          }
        }
      }

      &__seminar {
        text-align: left;

        h2 {
          font-size: font.$font-size-24 !important;
        }

        h3 {
          font-size: font.$font-size-20 !important;
          color: black;
          font-weight: normal;
          margin: 0;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
