@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';

.image-card-container {
  .card-area {
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.2));
    border-radius: 5px;
  }

  img {
    border-radius: 5px 0 0 5px;
  }

  .text__override {
    margin-left: auto;
    color: palette.$Primary-Blue900;
  }

  .title__override {
    color: palette.$Primary-Gray900;
    margin-top: 20px;
  }

  .mentor__override {
    color: palette.$Primary-Gray900;
  }
}

.chip-group {
  display: flex;
  gap: 8px;
}

.right {
  margin-left: auto;
}
