@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

.main-container {
  @include mixin.initMyPageFotterButton;

  section {
    padding: 0 20px;
    padding-bottom: 80px;
  }

  .growth-field-area {
    @include mixin.initFlexWrap(36px);

    &__chip {
      width: 120px;
      height: 68px;
      overflow: auto;
      span {
        font-weight: bold;
        font-size: font.$font-size-16 !important;
      }
    }
  }

  .skills-area {
    @include mixin.initFlexWrap;
    width: 100%;

    &__item {
      padding: 20px;
      span {
        font-size: font.$font-size-14 !important;
      }
    }
  }

  .icon-area {
    margin: 1rem 0;

    .icon {
      border-radius: 50%;
      padding: 1rem;
      border: 1px solid palette.$Primary-Gray800;
    }
  }

  .level-area {
    @include mixin.initFlexWrap(36px);
  }

  .button-area {
    img {
      width: 100%;
    }
  }
}
