@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';

.footer-section {
  $self: #{&};

  display: block;
  background-color: palette.$Primary-Gray800;

  .footer-border {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 48px 0;
  }

  .list-text {
    margin-top: 24px;
    opacity: 0.7;
  }

  @media (min-width: 320px) and (max-width: 992px) {
    .list-text-ul {
      display: flex;
      gap: 15px;
    }
  }

  :global {
    #{$self}__container {
      margin: 0 auto;
      // width: 1120px;
      width: 100%;
    }
  }
}
