@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

.community-container {
  @include mixin.initflexWrapContainer;

  @media (min-width: 320px) and (max-width: 992px) {
    width: 100%;
  }

  article {
    .filter-area::-webkit-scrollbar {
      display: none;
    }
    .filter-area {
      //padding-top: 60px;
      //padding-bottom: 16px;
      padding: 20px;
      position: relative;
      overflow-x: auto;
      &.top-filter {
        padding: 20px 0 12px 0;
        border-bottom: 1px solid palette.$Primary-Gray500;
      }

      &:not(.top-filter) {
        padding-top: 60px;
      }

      .mentoring-button__group {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 0;

        &.gap-12 {
          gap: 12px;
        }

        @media (min-width: 320px) and (max-width: 992px) {
          gap: 24px;
          align-items: center;
          display: flex;
        }

        > * {
          //line-height: $toggle-height;
          //font-size: font.$font-size-14 !important;
        }
      }
    }

    .profile-image {
      border: 0.5px solid #d2d8dd !important;
    }

    .mentoring-button__group {
      display: flex;
      gap: 10px;
    }

    .mentor-list {
      display: flex;
      align-items: center;

      button {
        margin-right: 10px;
      }
    }

    .right {
      margin-left: auto;
    }

    .fixed-width {
      width: 120px;
      font-size: font.$font-size-14;
    }

    .filter-area {
      padding: 60px 0 12px 0;

      border-bottom: 1px solid palette.$Primary-Gray500;

      .mentoring-button__group {
        display: flex;
        align-items: center;
        gap: 24px;
      }
    }
  }

  .fixed-width {
    width: 120px;
    font-size: font.$font-size-14;
  }

  .main-container {
    padding: 60px 0;

    .reply-container {
      &__item {
        margin-bottom: 32px;
      }
    }

    .nav-container {
      > div {
        margin-top: 60px;

        > h3 {
          font-size: font.$font-size-24 !important;
        }
      }

      .category-area {
        font-size: font.$font-size-16 !important;

        &__item {
          height: 56px;
          line-height: 56px;
          color: black;
          border-bottom: 1px solid palette.$Primary-Gray500;

          span {
            float: right;
            color: palette.$Primary-Gray700;
            font-size: font.$font-size-12 !important;
          }
        }
      }

      .popular-article-area {
        .item {
          margin: 0;
          &__profile {
            text-align: center;
            width: 60px;
            padding: 0;
            img {
              height: 60px;
              width: 60px;
            }

            span {
              color: black;
              font-size: font.$font-size-14 !important;
            }
          }

          &-content {
            display: inline-block;
            margin-left: 16px;

            &__header {
              font-size: 12px !important;

              &-date {
                float: right;
              }
            }

            &__text {
              font-size: font.$font-size-14 !important;
              color: black;
              text-overflow: ellipsis;
              display: -webkit-box;
              overflow: hidden;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }

            &__tags {
              @include mixin.setTagsStyle;
            }
          }
        }
      }

      .popular-keyword-area {
        div {
          justify-content: flex-start;
          align-content: center;
        }

        &__item {
          margin-right: 10px;
          margin-bottom: 13px;
          padding: 15px;
        }
      }
    }
  }
}
