@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

.btn-area{
  margin-left: 4px;
}

.fixed-width {
  width: 140px;
  font-size: font.$font-size-14;
}

.footer-wrapper{
  margin:0 auto;
  gap: 20px;
}
.first-row{
  display: flex;
  justify-content: space-between;
  gap: 20px;

  &__wrapper {
    &__col{
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      label {
        width: 30%;
        padding-right: 6px;
        font-weight: 500;
        text-align: center;
      }

      input {
        width: 70%;
      }

      .right {
        text-align: end;
      }
  
      &__search{
        label {
          width: 30%;
          padding-right: 6px;
          font-weight: 500;
          text-align: center;
        }
        input {
          width: 55%;
        }
        button {
          width: 15%;
        }
      }

    }
  }

}

.second-row{
  width: 100%;
  &__wrapper {
    &__col{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      label {
        font-weight: 500;
        text-align: center;
        margin-right: 5px;
      }
      input {
        width: 86%;
      }

    }
  }
}

.third-row{
  width: 100%;
  &__wrapper {
    &__col{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      label {
        width: 14%;
        font-weight: 500;
        text-align: center;
      }

      &__textArea {
        width: 86%;
        height: 60px;
        
        div:first-child {
          border-radius: 3px;
          height: 100%;
        }
      }
    
    }
  }
}

.search-capabilityId{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  label {
    font-weight: 500;
    text-align: center;
  }
  input {
    width: 83%;
  }

  &__table{
    width: 100%;
    margin-top: 20px;

  }
}

.modal-content {
  border: none !important;
}

.searchKeyword {
  display: flex;
  justify-content: center;
  input {
    width: 70%;
  }
}