@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

$profile-size: 52px;
$space-size: 24px;

.community-board-reply-container {
  padding: 0px 0;
  .col-md-20 {
    flex: 0 0 21.033333%;
    max-width: 21.033333%;
  }
  .profile-wrap {
    .profile-image {
      width: $profile-size;
      height: $profile-size;
      float: left;
    }

    .profile-desc {
      margin-left: 12px;
      text-align: left;
      float: left;

      &__name {
        font-size: font.$font-size-16 !important;
        font-weight: normal;
        line-height: 1.7em;
      }
    }
  }
}
