@use '../../stories/assets/styles/abstracts/font';
@use '../../stories/assets/styles/abstracts/palette';
@use '../../stories/assets/styles/abstracts/mixin';


.banner {
  position: relative;
  height: 148px;

  img {
    height: 148px;
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 5px;
  }

  &-text {
    position: absolute;
    color: white;
    font-size: font.$font-size-20 !important;
    padding: 0 80px;
    top: 50%;
    transform: translateY(-50%);

    &__large {
      font-size: font.$font-size-24 !important;
    }

    .text-highlight {
      z-index: 1;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 41px;
        height: 10px;
        bottom: 0;
        transform: translateX(-95%);
        background: #2797BB;
        z-index: -1;
      }
    }

    .clap-icon {
      width: 32px;
      height: 32px;
      transform: translateY(6px);
      margin-left: 6px;
    }
  }
}