@use 'src/stories/assets/styles/abstracts/mixin';
@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';

.seminar-location-area {
  &__toggle {
    width: 172px;
    height: 40px;
    margin-right: 24px;
  }

  &__disabled {
    cursor: default;
  }
}

.seminar-image-area {
  .seminar-image-area {
    &__desc {
      margin-top: 12px;
    }

    &__upload {
      @include mixin.initFlexWrap();
      justify-content: space-between;

      .seminar-image-item {
        position: relative;
        &__file-size {
          position: absolute;
          right: 0;
        }
        &__title {
          color: #222222;
          font-size: 14px;
          color: #222222;
          font-weight: 500;
          margin-bottom: 8px;
        }
        &____file-size {
          color: #222222;
          font-size: 14px;
          color: #222222;
          font-weight: 500;
          margin-bottom: 8px;
        }
        &__star {
          font-size: 14px;
          color: #cc0f0f;
          margin-left: 5px;
        }
        &__upload-wrap {
          width: 192px;
          height: 136px;
          border: 1px solid palette.$Primary-Gray500;
          position: relative;

          img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
          }
          button {
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            width: 136px;
            height: 36px;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;

            label {
              cursor: auto;
            }
          }
        }
      }
    }
  }
}

.business-container {
  $self: #{&};

  .mt-92 {
    margin-top: 92px;
  }

  section {
    .business-card {
      width: 1120px;
      height: 600px;
      position: relative;

      .business-text {
        position: absolute;
        width: 532px;
        height: 218px;
        left: 64px;
        top: 54px;
      }
    }

    .business-cm3 {
      width: 1120px;
      height: 600px;
      position: relative;

      .business-text-cm3 {
        position: absolute;
        width: 439px;
        height: 218px;
        left: 640px;
        top: 59px;
      }
    }

    .business-cm2 {
      width: 1120px;
      height: 600px;
      position: relative;

      .business-text-cm2 {
        position: absolute;
        width: 565px;
        height: 218px;
        left: 64px;
        top: 343px;
      }
    }
  }

  :global {
    #{$self}__override {
      color: #000000;
      margin-bottom: 28px;
    }
  }
}

.input-admin {
  height:100px;
  width:100%;
  resize: none;
  border: 1px solid palette.$Primary-Gray500;
  border-radius: 4px;
  font-size: 14px;
  color: #222222;
}

