@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

.btn-area{
  margin-left: 4px;
}

.tab2{
  margin-top: 20px;
}
.fixed-width {
  width: 140px;
  font-size: font.$font-size-14;
}

.footer-wrapper{
  margin:0 auto;
  gap: 20px;
}

.search-row{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;

  label {
    padding: 6px;
  }


}

.recommend-type{
  width: 100%;
  display: flex;

  label {
    width: 92px;
    font-weight: 500;
    text-align: center;
  }
  select {
    width: inherit;
  }

}

.searchKeyword{
  display: flex;
  justify-content: center;
  input {
    width: 320px;
  }
}


.modal-content {
  width: 400px;
}
.search-capabilityId{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  label {
    font-weight: 500;
    text-align: center;
  }
  input {
    width: 83%;
  }

  &__table{
    width: 100%;
    margin-top: 20px;

  }

}
.skillTab-open {
  display: block;
}

.skillTab-close {
  display: none;
}

.modal-content {
  border: none !important;
}
