// common colors
$Primary-Withe: #ffffff;
$Primary-Plan900: #f0b622;
$Primary-Plan800: #ffda7d;
$Primary-Design900: #f0792b;
$Primary-Design800: #ffa76d;
$Primary-Develop900: #4275de;
$Primary-Develop800: #8bb1ff;
$Primary-AIData900: #4cdada;
$Primary-Engineering900: #54a51a;
$Primary-Engineering800: #9fda75;
// Primary
$Primary-Blue900: #3d6afe;
$Primary-Blue800: #4593fc;
$Primary-Blue700: #ddebfc;
// Secondary
$Primary-Gray900: #000;
$Primary-Gray800: #5e6775;
$Primary-Gray700: #848c98;
$Primary-Gray600: #b0b7c1;
$Primary-Gray500: #d2d8dd;
$Primary-Gray400: #f2f2f5;

$Negative-Red: #ff0000;
