@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

.mentoring-container {
  display: block;
  margin: 0 auto;

  @include mixin.initflexWrapContainer;

  .mentoring-banner {
    width: 100%;
    // width: 1120px;
    margin-top: 60px;
  }

  .mentoring-button__group {
    display: flex;
    gap: 10px;
  }

  .mentor-list {
    display: flex;
    align-items: center;

    button {
      margin-right: 10px;
    }
  }

  .object-img {
    width: 100vw !important;
    height: 100%;
    object-fit: cover;

    @media (min-width: 320px) and (max-width: 992px) {
      object-fit: contain;
    }
  }

  .right {
    margin-left: auto;
  }

  .fixed-width {
    width: 120px;
    font-size: font.$font-size-14;
  }

  .filter-area {
    padding: 60px 0 12px 0;

    border-bottom: 1px solid palette.$Primary-Gray500;

    .mentoring-button__group {
      display: flex;
      align-items: center;
      gap: 24px;

      @media (min-width: 320px) and (max-width: 992px) {
        gap: 15px;
      }
    }
  }
  .fit-content {
    position: absolute;
    width: 500px;
    top: 30.2%;
    left: 66%;

    @media (min-width: 320px) and (max-width: 992px) {
      top: 25%;
      left: 15%;
    }
  }
  &--empty {
    text-align: center;
    width: 100%;
    padding: 80px 0;
  }
}
