.business-container {
  $self: #{&};
  .mt-92 {
    margin-top: 92px;
  }

  section {
    .business-card {
      width: 1120px;
      height: 600px;
      position: relative;

      .object-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media (min-width: 320px) and (max-width: 992px) {
        width: 100%;
        height: 350px;
      }

      .business-img-height {
        @media (min-width: 320px) and (max-width: 992px) {
          height: 800px;
        }
      }

      .business-text {
        position: absolute;
        width: 532px;
        height: 218px;
        left: 64px;
        top: 54px;

        @media (min-width: 320px) and (max-width: 992px) {
          width: 100%;
          height: 500px;
          padding: 30px;
          left: 0px;
          top: 0px;
        }
      }
    }

    .business-cm3 {
      width: 1120px;
      height: 600px;
      position: relative;

      .object-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media (min-width: 320px) and (max-width: 992px) {
        width: 100%;
        height: 390px;
      }

      .business-text-cm3 {
        position: absolute;
        width: 439px;
        height: 218px;
        left: 640px;
        top: 59px;

        @media (min-width: 320px) and (max-width: 992px) {
          width: 100%;
          height: 500px;
          padding: 30px;
          left: 0px;
          top: 0px;
        }
      }
    }

    .business-cm2 {
      width: 1120px;
      height: 600px;
      position: relative;

      .object-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media (min-width: 320px) and (max-width: 992px) {
        width: 100%;
        height: 390px;
      }

      .business-text-cm2 {
        position: absolute;
        width: 565px;
        height: 218px;
        left: 64px;
        top: 343px;

        @media (min-width: 320px) and (max-width: 992px) {
          width: 100%;
          height: 500px;
          padding: 30px;
          left: 0px;
          top: 0px;
        }
      }
    }
  }

  :global {
    #{$self}__override {
      color: #000000;
      margin-bottom: 28px;
    }
  }
}
