.date {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;

  input[type='text'] {
    height: 38px;
    font-size: 14px;
    padding: 0 10px;
    line-height: 32px;
    color: #666666;
    border: 1px solid #dddfe0;
    border-radius: 3px;
    outline: none;
    transition: border 0.5s ease;
    -webkit-transition: border 0.5s ease;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}
