@use 'src/stories/assets/styles/abstracts/font';
@use 'src/stories/assets/styles/abstracts/palette';
@use 'src/stories/assets/styles/abstracts/mixin';

.service-container {
  article {
    .filter-area {
      padding: 60px 0;

      hr {
        border-bottom: 1px solid palette.$Primary-Gray500;
      }

      .mentoring-button__group {
        display: flex;
        gap: 10px;
      }
    }

    .content {
      padding: 60px 0;
      @include mixin.initFlexWrap(auto);
      row-gap: 30px;
      justify-content: space-between;

      &__item {
        width: 25%;
      }
    }
  }
  .fixed-width {
    width: 120px;
    font-size: font.$font-size-14;
  }
}
